/*
*
* Latercast 1.0
*
*/

/* #Variables + Mixins */

$primaryColor:    #5f417a;
$readabilityRed:  #9c0001;
$lightColor:      #737373;
$highlightColor:  #000000;
$shadowColor:     rgba(0,0,0,.4);

/* #Site Styles */

body {
  margin: 3% auto;
  background: #f0f0f0 url(../img/bg-noise.png) top left; 
  font: 1.2em/1.6em "Asap-Regular", Helvetica, Arial, sans-serif;
}

.clearfix {
  @include clearfix;
}

.container { 
  position: relative; 
  width: 90%; 
  max-width: 970px;
  @media (max-width: 685px) { 
    width: 100%; 
  }
  margin: 0 auto; 
  padding: 0; 
}

a {
  color: $primaryColor;
  font-family: "Asap-Bold", Helvetica, Arial, sans-serif;
  text-decoration: none;
}

a:visited {
  color: $lightColor;
}



#header {
  position: relative;
  margin-bottom: .7em;
  width: 100%;
  text-align: center;
  @media (max-width: 685px) {
    .account {
      display: none;
    }
  }

  h1 {
    margin: 0 auto;
    @include replace-text-with-dimensions('logo-560.png');
    @media (min-width: 685px) {
      height: 49px;
      width: 392px;
      float: left;
      background-size: 392px 49px;
    }
    @media (max-width: 685px) {
      width: 90%;
      background-size: 100%;
    }
  }

  .account {
    float: right;
    font-size: .7em;
    color: $lightColor;
    @include text-shadow(0 1px 1px #ffffff)
  }

}

#primary {
  @media (min-width: 685px) { 
    float: right; 
    width: 72%; 
    max-width: 750px; 
    margin-bottom: 20px;
  }
}

#secondary {

  @media (max-width: 685px) { 
    width: 100%; 
    .promo.desktop{
      display:none;
    }
  }
  @media (min-width: 685px) { 
    width: 26%; 
    float: left; 
    max-width: 250px; 
    .promo.mobile{
      display:none;
    }
  }
  
  .promo.desktop {
    position: relative;
    background: #e0e0e0 url(../img/bg-promo-large.png) bottom left no-repeat;
    @include border-radius(10px);
    line-height: 1.3em;
    height: 300px;
    @media (min-width: 950px) { height: 270px;}
    @include box-shadow(inset 0 0 10px rgba(0,0,0,.1));
  }

  .promo.mobile {
    background: #e0e0e0;
    padding: .2em 1em;
    border-top: 1px solid lighten($lightColor, 25);
    border-bottom: 1px solid lighten($lightColor, 25);
    text-align: center;
    font-size: 105%;
  }

  h3 {
    color: #707070;
    line-height: 1.3em;
    padding: 20px 12px;
  }

  .subscribe {
    display: block;
    background: $primaryColor;
    @include background(linear-gradient(lighten($primaryColor, 10), $primaryColor 15%, darken($primaryColor, 15)));
    border: 1px solid darken($primaryColor,20);
    height: 60px;
    white-space: nowrap;
    line-height: 60px;
    font-size: .9em;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .09em;
    @include border-radius(10px);
    @media (min-width: 685px)  {
      position: absolute;
      bottom: 4%;
      @include border-radius(5px);
      margin: 0 4%;
      height: 40px;
      line-height: 40px;
      width: 92%;
    }
  }
  small {
    font-size: .6em;
    color: #707070;
  }
}

#latercast_player {
  @include border-radius(10px);
  @include box-shadow(0 2px 10px lighten($shadowColor,75));

  .list_header {
    color: $lightColor;
    background: #fff;
    border-bottom: 1px solid lighten($lightColor, 45);
    @media (min-width: 685px)  {
      background: $primaryColor;
      @include background(linear-gradient(darken($primaryColor, 5),$primaryColor));
      @include border-top-left-radius(10px);
      @include border-top-right-radius(10px);
      color: #ffffff;
      @include text-shadow(0 1px 0 $shadowColor);
      border-bottom: none;
    }
    height: 30px;
    font-size: 0.75em;
    padding: 5px 20px;

    .list_meta {
      float: left;
      letter-spacing: .1em;
      text-transform: uppercase;
      font-family: "Asap-Bold", Helvetica, Arial, sans-serif;
    }

    .list_actions {
      float: right;
    }

  }

  .playlist {


    .track {
      display: block;
      position: relative;
      background: #fff;
      margin: 0;
      padding: 15px 10px;
      line-height: 1.2em;
      @include transition-property(background, border);
      @include transition-duration(0.15s);
      @include transition-timing-function(ease-in-out);

      &:hover {
        .track_number {
          background: url(../img/icon-play.png) center center no-repeat;
          text-indent: 200%;
          overflow: hidden;
        }
        @media (min-width: 685px) {
          .track_actions {
            opacity: 1;
          }
        }
      }

      &+ .track {
      border-top: 1px solid lighten($lightColor, 45);}

      @media (min-width: 685px) {
        &:last-child {
          @include border-bottom-left-radius(10px);
          @include border-bottom-right-radius(10px);
        }
      }

      .track_number {
        color: lighten($lightColor, 35);
        width: 30px;
        text-align: center;
        font-family: "Asap-Bold", Helvetica, Arial, sans-serif;
        float: left;
        display: block;
        margin: 0 10px 0 0;
      }

      a.track_title {
        display: block;
        color: #444;
        font-family: "Asap-Bold", Helvetica, Arial, sans-serif;
        padding-bottom: 5px;
        margin: 0 0 0 40px;
        @media (min-width: 685px) {
          margin: 0 55px 0 40px; // room for track_number and track_actions
        }
      }

      .track_meta {
        font-size: .7em;
        line-height: 1.4em;
        letter-spacing: .05em;
        text-transform: uppercase;
        margin-left: 40px;
        color: $lightColor;
      }

      .track_actions {
        opacity: 0; // shows on .track:hover
        position: absolute;
        top: 16px;
        right: 15px;
        @include transition-property(opacity);
        @include transition-duration(0.15s);
        @include transition-timing-function(ease-in-out);

        a.action {
          color: #222;
          display: inline-block;
          width: 22px;
          height: 20px;
          text-indent: 100%;
          white-space: nowrap;
          overflow: hidden;

          &.download {
            background: url(../img/icon-download.png) top left no-repeat;
          }

          &.read {
            background: url(../img/icon-couch.png) top left no-repeat;
          }

        }

      }

      // Styles for SoundManager 2

      &.sm2_playing, &.sm2_paused {
        border-left: 4px solid transparentize($primaryColor,.4);
        padding-left: 6px;    // Compensating for the border (10px-4px)
        background-color: #f8f8f8;

        .track_faceplate {
          display: block;
        }
        .track_number {
          text-indent: 200%;
          overflow: hidden;
          background: url(../img/icon-pause.png) center center no-repeat;
        }
      }

      &.sm2_paused .track_number {
        background: url(../img/icon-play.png) center center no-repeat;
      }

      .track_faceplate {
        display: none;
        position: relative;
        margin: 10px 10px 0 40px; 

        .controls {

          .statusbar {
            position: relative;
            margin-right: 4em;
            height: 0.6em;
            background-color: lighten($lightColor,45);
            overflow: hidden;
            cursor:ew-resize;
            cursor:-moz-grab;
            cursor:grab;
          }

          .loading {
            background-color: lighten($lightColor,35);
          }

          .position {
            background-color: $primaryColor;
            position: absolute;
            left: 0px;
            top: 0px;
            height: 0.6em;
          }
        }

        .timing {
          font-family: "Asap-Bold", Helvetica, Arial, sans-serif;
          color: lighten($lightColor,20);
          position: absolute;
          top: 0em;
          right: 0em;
          height: 1em;
          text-align: left;
          line-height: 1em;
          letter-spacing: .15em;
          font-size: .6em;
        }
      }

    }

  }

}

#footer {

  .credit {
    font-size: .5em;
    opacity: .3;
    text-transform: uppercase;
    letter-spacing: .4em;
  }

  .account {
    display: none;
    margin: 20px 0;
    text-align: center;
    font-size: .8em;
    color: $lightColor;
  }

}


/* #Homepage specific styles — Should abstract this */

#homepage_logo {
  @include replace-text-with-dimensions('logo-560.png');
  @media (min-width: 750px)  {
    margin: 50px auto 20px;
    width: 600px;
    height: 38px;
    background-position: -10px 0;
    background-size: 300px 38px;
  }
  @media (max-width: 750px)  {
    margin: 20px auto;
    width: 80%;
    max-height: 50px;
    background-size: 100%;
  }
}


#homepage_promo {
  width: 100%;
  background: $primaryColor;
  color: #ffffff;
  font-family: "Asap-Italic", Helvetica, Arial, sans-serif;
}

#homepage_tagline {
  position: relative;
  @media (min-width: 750px)  {
   width: 500px; 
   text-align: right;
   margin: 0 auto;
   padding: 1.2em 350px 1.2em 0;
   font-size: 2.3em;
   line-height: 1.2em;
  }
  @media (max-width: 750px)  { 
    text-align: center;
    padding: 1em 1em 0em;
    font-size: 1.6em;
    line-height: 1.2em;
  }
}

#homepage_phone {
  width: 275px;
  background: url(../img/hp-phone.png) 0 0 no-repeat;
  @media (min-width: 750px)  {
    position: absolute;
    height: 620px;
    top: -80px;
    right: 30px;
  }
  @media (max-width: 750px)  { 
    height: 250px;
    overflow: hidden;
    margin: 20px auto 0;
  }

  #homepage_demo {
    width: 100%;
    height: 100%;
    background: url(../img/hp-demo1.png) 23px 95px no-repeat;
    @media (min-width: 750px)  {
    }
    @media (max-width: 750px)  { 
      padding: 30px 30px;
    }
  }
}




#homepage_pitch {
  width: 400px; 
  color: #2e2e2e;
  font-size: 1em;
  line-height: 1.6em;
  margin: 1em auto;

  @media (min-width: 750px)  {
    padding-right: 200px;
  }
  @media (max-width: 750px)  {
    width: 90%;
    background-size: 100%;
    font-size: 90%;
  }

  strong {
    font-family: "Asap-Bold", Helvetica, Arial, sans-serif;
  }
}

#homepage_login {
  display: block;
  @include background(linear-gradient(lighten($readabilityRed, 10), $readabilityRed 15%, darken($readabilityRed, 15)));
  @include border-radius(8px);
  border: 1px solid darken($readabilityRed,15);
  width: 275px;
  height: 45px;
  font-size: 1em;
  line-height: 45px;
  text-align: center;
  margin: .6em auto;

  a {
    font-family: Georgia, Times, serif;
    font-weight: normal;
    color: #ffffff;
    @include text-shadow(0 2px 1px rgba(0,0,0,.2))
  }
}

.homepage_button_help {
  text-align: center;

  a, a:visited {
    color: $readabilityRed;
    font-family: "Asap-Regular", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: .8em;
  }
}

#homepage_footer {
  border-top: 1px solid lighten($lightColor, 25); 
  font-family: "Asap-Bold", Arial, Helvetica, sans-serif;
  color: $lightColor;
  font-size: .5em;
  letter-spacing: .4em;
  text-transform: uppercase;
  width: 600px;
  margin: 0 auto;
    @media (max-width: 750px)  {
      width: 90%;
      text-align: center;
    }


}

/* #Font-Face */

@include font-face("Asap-Regular", font-files("../../fonts/Asap-Regular.ttf"));
@include font-face("Asap-Italic", font-files("../../fonts/Asap-Italic.ttf"));
@include font-face("Asap-Bold", font-files("../../fonts/Asap-Bold.ttf"));
  